@page
@model BrowserGame.Pages.Game.IndexModel
@{
    ViewData["Title"] = "Game home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create your Account <a asp-page="./CreatePlayer">here</a>.</p>
</div>