@page "{id:int?}"
@model BrowserGame.Pages.Game.UpgradeFieldModel

@{
    ViewData["Title"] = "Upgrade Field";
}

<h1>Upgrade Field</h1>

<h4>Upgrade Info</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpgradeInfo.Id" />
            <div class="form-group">
                <label asp-for="UpgradeInfo.BuildingName" class="control-label"></label>
                <input asp-for="UpgradeInfo.BuildingName" class="form-control" />
                <span asp-validation-for="UpgradeInfo.BuildingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.ClayCost" class="control-label"></label>
                <input asp-for="UpgradeInfo.ClayCost" class="form-control" />
                <span asp-validation-for="UpgradeInfo.ClayCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.WoodCost" class="control-label"></label>
                <input asp-for="UpgradeInfo.WoodCost" class="form-control" />
                <span asp-validation-for="UpgradeInfo.WoodCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.IronCost" class="control-label"></label>
                <input asp-for="UpgradeInfo.IronCost" class="form-control" />
                <span asp-validation-for="UpgradeInfo.IronCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.CropCost" class="control-label"></label>
                <input asp-for="UpgradeInfo.CropCost" class="form-control" />
                <span asp-validation-for="UpgradeInfo.CropCost" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpgradeInfo.IsFinnalUpgrade" /> @Html.DisplayNameFor(model => model.UpgradeInfo.IsFinnalUpgrade)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.Level" class="control-label"></label>
                <input asp-for="UpgradeInfo.Level" class="form-control" />
                <span asp-validation-for="UpgradeInfo.Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.AdditionalCropUpkeep" class="control-label"></label>
                <input asp-for="UpgradeInfo.AdditionalCropUpkeep" class="form-control" />
                <span asp-validation-for="UpgradeInfo.AdditionalCropUpkeep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpgradeInfo.ValueChange" class="control-label"></label>
                <input asp-for="UpgradeInfo.ValueChange" class="form-control" />
                <span asp-validation-for="UpgradeInfo.ValueChange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
