@using BrowserGame.Internal
@{
    var cityManager = (CityManager)ViewData["CityManager"];
}

@if (await cityManager.IsBuildInProgressAsync()) {
    <div class="text-center pt-5 text-info">
        Currently building level @cityManager.BuildTargetLevel @cityManager.BuildTargetName, building will complete at @(cityManager.CompletionTime).
    </div>
} 

