@using BrowserGame.ModelUtils
@using BrowserGame.Models
@inject ApplicationDbContext DbContext
@{
    var city = (City)ViewData["City"];
}

@if (await city.IsBuildInProgressAsync(DbContext)) {
    <div class="text-center pt-5 text-info">
        Currently building level @city.BuildQueue.TargetLevel @city.BuildQueue.TargetName,
        construction will complete at @(city.BuildQueue.CompletionTime).
    </div>
} 

